@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.menu-container {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.menu-container .menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1999;
}
.header-container .header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.header-container .header .header-1 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}
.header-container .header .header-1 li img {
  width: 70%;
}
.header-container .header .header-1 li a {
  color: black;
  letter-spacing: 2px;
  font-size: 120%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.header-container .header .header-1 li a:hover {
  text-decoration: none;
  border-bottom: 3px solid #fb46f4;
  color: #fb46f4;
}

.seguinos {
  color: #0a1af3;
  font-size: 120%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bold;
  margin: 50px 0 0 100px;
  padding-bottom: 10px;
}

.footer-container {
  padding: 20px 100px;
  display: flex;
  justify-content: left;
}
.footer-container .footer {
  width: 100px;
  display: flex;
  justify-content: space-around;
}
.footer-container .footer .iconos-rrss a img:hover {
  transform: scale(1.5);
}

.newsletter-titulo {
  color: #0a1af3;
  font-size: 100%;
  text-align: right;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
  padding-bottom: 10px;
}

.newsletter-container {
  flex-direction: row;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.newsletter-container .newsletter-menu {
  width: 300px;
  display: flex;
  justify-content: space-around;
}
.newsletter-container .newsletter-menu div .ingresar-correo {
  color: black;
  font-size: 90%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding-bottom: 10px;
  text-align: right;
}
.newsletter-container .newsletter-menu div .suscribirse {
  color: black;
  font-size: 90%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: right;
}

.footer-container-2 {
  display: flex;
  justify-content: center;
}
.footer-container-2 .footer-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.footer-container-2 .footer-menu .div-footer h4 {
  color: black;
  letter-spacing: 4px;
  font-size: 90%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}
.footer-container-2 .footer-menu .div-footer .footer-final {
  color: black;
  letter-spacing: 1px;
  font-size: 90%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-align: center;
}

/* ASI LO TENIA ANTES
.nueva-coleccion {
    background-image: url("../imagenes/ropa-choiques-24.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: 50px; 

h1 {
    color: nth($colores-proyecto, 3);
    letter-spacing: 2px;
    font-size: nth($fuentes-proyecto, 4);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    padding: 200px 0 0 20px;
}

h2 {
    color: nth($colores-proyecto, 3);
    letter-spacing: 2px;
    font-size: nth($fuentes-proyecto, 3);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
}
}*/
/*.nueva-coleccion {  

    h1 {
    color: nth($colores-proyecto, 2);
    letter-spacing: 2px;
    font-size: nth($fuentes-proyecto, 4);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    @include parametro-flex (flex, flex-end);
    flex-direction: column;
}
    h2 {
    color: nth($colores-proyecto, 2);
    letter-spacing: 2px;
    font-size: nth($fuentes-proyecto, 3);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    @include parametro-flex (flex, flex-end);
    flex-direction: column;
}
}*/
.nueva-coleccion .nueva-coleccion-div {
  display: flex;
  align-items: center;
}
.nueva-coleccion .nueva-coleccion-div .nueva-coleccion-div-2 {
  position: absolute;
}
.nueva-coleccion .nueva-coleccion-div .nueva-coleccion-div-2 .ss-21 {
  color: white;
  letter-spacing: 2px;
  font-size: 150%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bolder;
  margin-left: 20px;
  /*@include parametro-flex (flex, flex-end);
  flex-direction: column;*/
}
.nueva-coleccion .nueva-coleccion-div .nueva-coleccion-div-2 .ver-coleccion {
  color: white;
  letter-spacing: 2px;
  font-size: 120%;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  margin-left: 20px;
  /*@include parametro-flex (flex, flex-end);
  flex-direction: column;*/
}
.nueva-coleccion .nueva-coleccion-div div {
  width: 100%;
}
.nueva-coleccion .nueva-coleccion-div div img {
  width: 100%;
}

.texto-bienvenida {
  color: black;
  letter-spacing: 2px;
  font-size: 120%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  margin: 50px 20px 0 20px;
}

.section-container {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.section-container .section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.section-container .section .condiciones {
  margin-top: 30px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-container .section .condiciones .condiciones-titulo {
  color: #0a1af3;
  font-size: 100%;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bolder;
}
.section-container .section .condiciones img {
  width: 22px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.photo-grid-container h3 {
  color: black;
  font-size: 120%;
  letter-spacing: 5px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bold;
  margin-top: 30px;
}
.photo-grid-container div div div {
  height: 500px;
}

#locales h3 {
  color: black;
  font-size: 150%;
  letter-spacing: 5px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bold;
  margin: 30px 0 0 20px;
}
#locales div div h2 button {
  color: black;
  font-size: 60%;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
#locales div div div div {
  color: black;
  font-size: 100%;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.titulo {
  color: black;
  font-size: 100%;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  margin-top: 10px;
  text-align: center;
}

.photo-grid-container-2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas: "titulo" "galeria";
  justify-items: center;
}
.photo-grid-container-2 .tienda-2 {
  color: black;
  font-size: 150%;
  letter-spacing: 5px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: bold;
  margin: 30px 0 20px 20px;
  grid-area: titulo;
}
.photo-grid-container-2 .photo-grid-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-area: galeria;
  grid-template-areas: "photo-1 photo-2 photo-3" "photo-4 photo-5 photo-6" "photo-7 photo-8 photo-9" "photo-10 photo-11 photo-12";
  justify-items: center;
  width: 100%;
}
.photo-grid-container-2 .photo-grid-2 .imagen-tienda {
  width: 400px;
  border-radius: 5%;
}
.photo-grid-container-2 .photo-grid-2 .imagen-tienda:hover {
  opacity: 0.5;
  cursor: pointer;
}
.photo-grid-container-2 .photo-grid-2 .photo-1 {
  grid-area: photo-1;
}
.photo-grid-container-2 .photo-grid-2 .photo-2 {
  grid-area: photo-2;
}
.photo-grid-container-2 .photo-grid-2 .photo-3 {
  grid-area: photo-3;
}
.photo-grid-container-2 .photo-grid-2 .photo-4 {
  grid-area: photo-4;
}
.photo-grid-container-2 .photo-grid-2 .photo-5 {
  grid-area: photo-5;
}
.photo-grid-container-2 .photo-grid-2 .photo-6 {
  grid-area: photo-6;
}
.photo-grid-container-2 .photo-grid-2 .photo-7 {
  grid-area: photo-7;
}
.photo-grid-container-2 .photo-grid-2 .photo-8 {
  grid-area: photo-8;
}
.photo-grid-container-2 .photo-grid-2 .photo-9 {
  grid-area: photo-9;
}
.photo-grid-container-2 .photo-grid-2 .photo-10 {
  grid-area: photo-10;
}
.photo-grid-container-2 .photo-grid-2 .photo-11 {
  grid-area: photo-11;
}
.photo-grid-container-2 .photo-grid-2 .photo-12 {
  grid-area: photo-12;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Media query */
/* Mobile */
@media only screen and (max-width: 480px) {
  .header-container .header .header-1 {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .header-container .header .header-1 li img {
    width: 100%;
  }

  .nueva-coleccion img {
    width: 100%;
  }

  .section-container .section {
    width: 100%;
    flex-wrap: wrap;
  }
  .section-container .section .section div {
    width: 50%;
  }

  .photo-grid-container-2 .photo-grid-2 {
    grid-template-columns: auto;
    grid-template-rows: repeat(12, auto);
    grid-template-areas: "photo-1" "photo-2" "photo-3" "photo-4" "photo-5" "photo-6" "photo-7" "photo-8" "photo-9" "photo-10" "photo-11" "photo-12";
  }
  .photo-grid-container-2 .photo-grid-2 .imagen-tienda {
    width: 100%;
  }

  .footer-container-2 .footer-menu {
    width: 100%;
    flex-wrap: wrap;
  }
  .footer-container-2 .footer-menu .footer-menu div {
    width: 50%;
  }
}
/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 960px) {
  .header-container .header .header-1 {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .header-container .header .header-1 li img {
    width: 100%;
  }

  .photo-grid-container-2 .photo-grid-2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "photo-1 photo-2" "photo-3 photo-4" "photo-5 photo-6" "photo-7 photo-8" "photo-9 photo-10" "photo-11 photo-12";
  }
  .photo-grid-container-2 .photo-grid-2 .imagen-tienda {
    width: 100%;
  }
}
/* Desktop */
@media only screen and (min-width: 961px) {
  .photo-grid-container-2 .photo-grid-2 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "photo-1 photo-2 photo-3" "photo-4 photo-5 photo-6" "photo-7 photo-8 photo-9" "photo-10 photo-11 photo-12";
  }
}

/*# sourceMappingURL=style.css.map */
