@import '../base/mixins';
@import '../base/colores';
@import '../base/fuentes';
@import '../base/operadores';

.seguinos {
    color: nth($colores-proyecto, 4);
    font-size: nth($fuentes-proyecto, 3);
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.footer-container {
    @include parametro-flex(flex, center);
    
    .footer {
    @include parametro-flex-completo(100px, flex, space-around);

    .iconos-rrss {
    a {
        i {
            color: nth($colores-proyecto, 4);
            font-size: 24px;
            &:hover {
                transform: scale(1.5);
            }
        }
    }
}
    }
}

.newsletter-titulo {
    color: nth($colores-proyecto, 4);
    font-size: nth($fuentes-proyecto, 2);
    text-align: right;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
    padding-bottom: 10px;  
}

.newsletter-container {
    flex-direction: row;
    @include parametro-flex(flex, flex-end);
    align-items: flex-end;

  
    .newsletter-menu {
    @include parametro-flex-completo(300px, flex, space-around);

    div {
        .ingresar-correo {
            color:nth($colores-proyecto, 1);
            font-size: nth($fuentes-proyecto, 1);
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            padding-bottom: 10px;
            text-align: right;
        }
    }

    div {
        .suscribirse {
            color:nth($colores-proyecto, 1);
            font-size: nth($fuentes-proyecto, 1);
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            padding-bottom: 10px;
            font-weight: bold;
            text-align: right;
        }
    }
}
}

.footer-container-2 {
    @include parametro-flex(flex, center);

    .footer-menu {
        @include parametro-flex-completo(100%, flex, space-around);

        .div-footer {
            h4 {
                color:nth($colores-proyecto, 1);
                letter-spacing: 4px;
                font-size: nth($fuentes-proyecto, 7);
                font-family: 'Poppins', sans-serif;
                text-decoration: none;
                font-weight: bolder;
                text-transform: uppercase;
                text-align: center; 
            }
            .footer-final {
                color: nth($colores-proyecto, 1);
                letter-spacing: 1px;
                font-size: nth($fuentes-proyecto, 7);
                font-family: 'Poppins', sans-serif;
                text-decoration: none;
                text-align: center;
            }
        }
    }
}

