@import '../base/mixins';
@import '../base/colores';
@import '../base/fuentes';
@import '../base/operadores';

.nueva-coleccion {
    .nueva-coleccion-div {
        display: flex;
        align-items: center;
            .nueva-coleccion-div-2 {
                position: absolute;
                    .ss-21 {
                        color: nth($colores-proyecto, 3);
                        letter-spacing: 2px;
                        font-size: nth($fuentes-proyecto, 4);
                        font-family: 'Poppins', sans-serif;
                        text-decoration: none;
                        font-weight: bolder;
                        margin-left: 20px;
                    }
                    .ver-coleccion {
                        color: nth($colores-proyecto, 3);
                        letter-spacing: 2px;
                        font-size: nth($fuentes-proyecto, 3);
                        font-family: 'Poppins', sans-serif;
                        text-decoration: none;
                        margin-left: 20px;
                    }
                }
        div {
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}


.texto-bienvenida {
    color: nth($colores-proyecto, 1);
    letter-spacing: 2px;
    font-size: nth($fuentes-proyecto, 3);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 50px 20px 0 20px;
}

.section-container {
    padding: 20px 0;
    @include parametro-flex(flex, center);

    .section {
        @include parametro-flex-completo(100%, flex, space-around);

    .condiciones {
            margin-top: 30px;
            flex-direction: column;
            @include parametro-flex(flex, space-between);
            align-items: center;

            .condiciones-titulo {
                color: nth($colores-proyecto, 4);
                font-size: nth($fuentes-proyecto, 2);
                letter-spacing: 1px;
                font-family: 'Poppins', sans-serif;
                text-decoration: none;
                font-weight: bolder;
            }

            i {
                color: nth($colores-proyecto, 4);
                font-size: 30px;
            }
        } 
    }
}

.photo-grid-container {
    @include parametro-flex(flex, center);
    flex-direction: column;

    h3 {
    color: nth($colores-proyecto, 5);
    font-size: nth($fuentes-proyecto, 4);
    letter-spacing: 8px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    font-weight: bold;
    margin-top: 30px;  
    }

    div {
        position: relative;
        margin: 0 auto;
        div {
            width: 100%;
            height: 600px;
            div { 
                img {
                    width: 100%;
                }
            }
        }
    }
}



#locales {
    h3 {
        color: nth($colores-proyecto, 1);
        font-size: nth($fuentes-proyecto, 4);
        letter-spacing: 5px;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        font-weight: bold;
        margin: 30px 0 0 20px; 
    }

    div {
        div {
            h2 {
                button {
                    color: nth($colores-proyecto, 1);
                    font-size: nth($fuentes-proyecto, 5);
                    letter-spacing: 1px;
                    font-family: 'Poppins', sans-serif;
                    text-decoration: none;
                }
            }

            div {
                div {
                    color: nth($colores-proyecto, 1);
                    font-size: nth($fuentes-proyecto, 2);
                    letter-spacing: 1px;
                    font-family: 'Poppins', sans-serif;
                    text-decoration: none;
                }
            }
        }
    }
}



